<%= javascript_include_tag 'parcels' %>

<%= form_with(model: parcel, local: true) do |form| %>
  <% if parcel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parcel.errors.count, "error") %> prohibited this parcel from being saved:</h2>

      <ul>
        <% parcel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.select(:status, Parcel.statuses.map { |status| [status.last, status.first] }, { include_blank: 'None' }) %>
  </div>

  <div class="field">
    <%= form.label :customer %>
    <%= form.text_field :customer %>
  </div>

  <div class="field">
    <%= form.label :eircode %>
    <%= form.text_field :eircode %>
  </div>

  <div>
    <button id="add_content_button">add content</button>
  </div>

  <div id="content_list">
    <%= render @parcel.contents, form: form %>

    <script type="text/javascript">
      $('#add_content_button').click(function (e) {
        e.preventDefault();
        $('#content_list').append('<%= j render 'contents/content', form: form %>');
      });
    </script>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
