<%= javascript_include_tag 'parcels' %>

<%= form_with(model: parcel, local: true) do |form| %>
  <% if parcel.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(parcel.errors.count, "error") %> prohibited this parcel from being saved:</p>
      <ul>
        <% parcel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :customer %>
    <%= form.text_field :customer, :class => 'form-control' %>
  </div>

  <div class="form-row mt-4 pl-2 pr-2">
    <div class="field form-group flex-grow-1">
      <%= form.label :status %>
      <%= form.select(:status, Parcel.statuses.map { |status| [status.last, status.first] }, { include_blank: 'None' }, { :class => 'form-control w-100' }) %>
    </div>

    <div class="field form-group ml-4">
      <%= form.label :eircode %>
      <%= form.text_field :eircode, :class => 'form-control' %>
    </div>
  </div>

  <h6 align="center" class="bg-primary text-light">Contents</h6>

  <div id="content_list">
    <%= render @parcel.contents, form: form %>
  </div>

  <div class="form-row d-flex mt-5 d-flex justify-content-center">
    <div class="actions">
      <%= link_to 'Back', home_url(tab: "parcel"), class: 'btn btn-secondary' %>
      <button id="add_content_button" class="btn btn-secondary">Add Content</button>
      <%= form.submit :class => 'btn btn-primary' %>
    </div>
  </div>

  <script type="text/javascript">
    $('#add_content_button').click(function (e) {
      e.preventDefault();
      $('#content_list').append('<%= j render 'contents/content', form: form %>');
    });
  </script>
<% end %>
