<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= Parcel.statuses[@parcel.status] %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @parcel.customer %>
</p>

<p>
  <strong>Eircode:</strong>
  <%= @parcel.eircode %>
</p>

<div>
  <p><strong>Contents:</strong><%= @parcel.contents.length == 0 ? 'No contents' : '' %></p>
  <% if @parcel.contents.length %>
  <table class="w-100">
    <tr><td>Name</td><td>Quantity</td><td>Fragile</td></tr>
    <% @parcel.contents.each do |content| %>
      <tr>
        <td><%= content.name %></td>
        <td><%= content.quantity %></td>
        <td><%= content.fragile ? 'yes' : 'no' %></td>
      </tr>
    <% end %>
    <tr>
    </tr>
  </table>
  <% end %>
</div>

<div>
  <%= link_to 'Edit', edit_parcel_path(@parcel) %> |
  <%= link_to 'Back', parcels_path %>
</div>
