<div class="content_item pl-2 pr-2 form-inline justify-content-between">
    <div class="field form-group d-flex flex-row flex-fill">
        <%= form.label :name, class: 'mr-2' %>
        <%= form.text_field :name, name: 'parcel[contents_attributes][][name]', value: defined?(content) ? content.name : '', :class => 'form-control flex-fill' %>
    </div>

    <div class="field form-group d-flex flex-row ml-2">
        <%= form.label :quantity, class: 'mr-2' %>
        <%= form.number_field :quantity, name: 'parcel[contents_attributes][][quantity]', value: defined?(content) ? content.quantity : 1, :class => 'form-control' %>
    </div>

    <div class="field form-group ml-2">
        <%= form.label :fragile %>
        <input type="hidden" name="parcel[contents_attributes][][fragile]" class="form-check-input" value="<%= defined?(content) && content.fragile ? '1' : '0' %>">
        <input type="checkbox" class="ml-2" onchange="javascript:setFragile(this);" <%= defined?(content) && content.fragile ? 'checked' : '' %>>
    </div>

    <div class="field form-group ml-4">
        <a href="#" onclick="javascript:remove(event, this);" class="btn btn-sm btn-outline-danger">Remove</a>
    </div>
</div>