<p id="notice"><%= notice %></p>

<h5 align="center" class="bg-primary text-light">Content</h5>

<p>
  <strong>Name:</strong>
  <%= @content.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @content.quantity %>
</p>

<p>
  <strong>Fragile:</strong>
  <%= @content.fragile ? 'yes' : 'no' %>
</p>

<div class="mt-5 align-self-center">
  <%= link_to 'Edit', edit_content_path(@content), class: 'btn btn-primary' %>
  <%= link_to 'Back', home_url, class: 'btn btn-primary' %>
</div>
